<div class="p-2">
  <mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title>Contacts</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <table mat-table [dataSource]="contactsStore.contacts()" class="mat-elevation-z8">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef> Phone </th>
      <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email Address </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef [style.width.px]="136"></th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button (click)="onEditForm(element)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button (click)="onDelete(element._id)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>
    
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <!-- No Data Row Definition -->
  <tr class="mat-row no-data-row" *matNoDataRow>
    <td class="mat-cell text-center" [attr.colspan]="displayedColumns.length">
      <div class="flex items-center justify-center">No contacts found!</div>
    </td>
  </tr>
  </table>
    </mat-card-content>
  </mat-card>
</div>


<div class="fixed right-8 bottom-8">
  <button mat-fab (click)="onCreateForm()">
    <mat-icon>add</mat-icon>
  </button>
</div>